<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0216e0f7-cf3c-4262-a801-357aafe20fee/resourceGroups/mock-pj-microservice/providers/Microsoft.Web/sites/BlogAPINhi</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://blogapinhi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>e56ceda4-5bcb-444a-b674-ef4f1b5ec0f2</ProjectGuid>
    <PublishUrl>https://blogapinhi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$BlogAPINhi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>