<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://blog-functionapp-demo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0216e0f7-cf3c-4262-a801-357aafe20fee/resourceGroups/mock-pj-microservice/providers/Microsoft.Web/sites/Blog-FunctionApp-Demo</ResourceId>
    <UserName>$Blog-FunctionApp-Demo</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://blog-functionapp-demo.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>